# Coleta e Preparação de Dados

## Dados de Opções

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import requests

ticker = 'IBIT'

data = yf.Ticker(ticker)

opt_date = data.options
opt_date

('2024-12-20',
 '2025-01-17',
 '2025-02-21',
 '2025-05-16',
 '2026-01-16',
 '2027-01-15')

In [21]:
expiration_date = pd.DataFrame()

for date in opt_date:
    opt_calls = data.option_chain(date).calls
    opt_calls["Expiration_date"] = date
    expiration_date = pd.concat([expiration_date, opt_calls])
expiration_date.reset_index(drop=True, inplace=True)
expiration_date

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,Expiration_date
0,IBIT241220C00030000,2024-11-22 20:58:37+00:00,30.0,26.70,26.6,26.9,0.570002,2.181407,170.0,624.0,1.328128,True,REGULAR,USD,2024-12-20
1,IBIT241220C00036000,2024-11-21 14:34:42+00:00,36.0,19.40,20.7,20.9,0.000000,0.000000,2.0,5.0,1.029302,True,REGULAR,USD,2024-12-20
2,IBIT241220C00037000,2024-11-19 18:49:06+00:00,37.0,17.00,0.0,0.0,0.000000,0.000000,NaN,NaN,0.000010,True,REGULAR,USD,2024-12-20
3,IBIT241220C00038000,2024-11-21 17:45:27+00:00,38.0,18.20,18.7,19.0,0.000000,0.000000,4.0,10.0,0.956055,True,REGULAR,USD,2024-12-20
4,IBIT241220C00040000,2024-11-22 20:42:42+00:00,40.0,16.82,16.8,17.0,-0.030001,-0.178046,47.0,152.0,0.880861,True,REGULAR,USD,2024-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,IBIT270115C00080000,2024-11-22 20:47:32+00:00,80.0,22.40,21.6,22.5,0.600000,2.752295,60.0,574.0,0.878663,False,REGULAR,USD,2027-01-15
248,IBIT270115C00085000,2024-11-22 16:44:42+00:00,85.0,20.60,20.5,21.7,0.600000,3.000002,3.0,27.0,0.876100,False,REGULAR,USD,2027-01-15
249,IBIT270115C00090000,2024-11-22 19:30:16+00:00,90.0,20.60,19.9,21.0,0.900000,4.568526,63.0,192.0,0.881288,False,REGULAR,USD,2027-01-15
250,IBIT270115C00095000,2024-11-22 19:55:12+00:00,95.0,20.45,19.3,20.4,1.900001,10.242597,22.0,70.0,0.886293,False,REGULAR,USD,2027-01-15
251,IBIT270115C00100000,2024-11-22 20:58:48+00:00,100.0,18.82,18.7,19.4,0.219999,1.182792,859.0,3825.0,0.883607,False,REGULAR,USD,2027-01-15

In [22]:
expiration_date.to_csv('./data/options.csv', index=False)

## Dados de cotações Bitcoin

In [6]:
import yfinance as yf
import datetime as dt
import pandas as pd
import numpy as np
import requests

ticker = 'IBIT'

start = dt.datetime(2020, 1, 1)
end = dt.datetime.today()

data = yf.download(ticker, start=start, end=end)
data.head()

c:\Users\Andre\AppData\Local\Programs\Python\Python312\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-01-11  27.940001  30.000000  26.280001  26.629999  26.629999  37657300
2024-01-12  26.400000  26.410000  24.750000  24.969999  24.969999  22846800
2024-01-16  24.700001  24.862000  24.040001  24.719999  24.719999  15078200
2024-01-17  24.350000  24.559999  24.150000  24.410000  24.410000  13964500
2024-01-18  24.350000  24.469999  23.200001  23.340000  23.340000  17823200

In [17]:
data.to_csv('./data/ibit-usd-intraday.csv')

In [12]:
dados = pd.read_csv('./data/ibit-usd.csv')
dados

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-01-11,27.940001,30.000000,26.280001,26.629999,26.629999,37657300
1,2024-01-12,26.400000,26.410000,24.750000,24.969999,24.969999,22846800
2,2024-01-16,24.700001,24.862000,24.040001,24.719999,24.719999,15078200
3,2024-01-17,24.350000,24.559999,24.150000,24.410000,24.410000,13964500
4,2024-01-18,24.350000,24.469999,23.200001,23.340000,23.340000,17823200
...,...,...,...,...,...,...,...
215,2024-11-18,51.500000,52.805000,51.040001,52.130001,52.130001,61429300
216,2024-11-19,52.160000,53.660000,51.910000,52.700001,52.700001,80884000
217,2024-11-20,53.880001,54.169998,53.060001,53.720001,53.720001,70154500
218,2024-11-21,55.410000,56.505001,54.410000,55.900002,55.900002,93957600
219,2024-11-22,55.639999,56.860001,55.310001,56.490002,56.490002,65689400

In [13]:
dados = pd.read_csv('./data/ibit-usd.csv')
dados['Returns'] = np.log(dados['Adj Close']/dados['Adj Close'].shift(1))
dados = dados[['Date', 'Returns']].dropna()
dados

mi = dados['Returns'].mean()
sigma = dados['Returns'].std()

r = float(requests.get('https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados/ultimos/1?formato=json').json()[0]['valor']) / 100

# parameters = pd.DataFrame([[mi, sigma, r]], columns=['mi', 'sigma', 'rf']).to_csv('./data/parameters_ibit.csv', index=False)
mi, sigma, r

(0.003433905446294751, 0.03601163174217144, 0.00041957)