# Coleta e Preparação de Dados

## Dados de Opções

In [1]:
import yfinance as yf
import pandas as pd

ticker = 'IBIT'

data = yf.Ticker(ticker)

opt_date = data.options
opt_date

('2024-12-20',
 '2025-01-17',
 '2025-02-21',
 '2025-05-16',
 '2026-01-16',
 '2027-01-15')

In [2]:
expiration_date = pd.DataFrame()

for date in opt_date:
    opt_calls = data.option_chain(date).calls
    opt_calls["Expiration_date"] = date
    expiration_date = pd.concat([expiration_date, opt_calls])

In [3]:
expiration_date.reset_index(drop=True, inplace=True)

In [30]:
expiration_date.to_csv('./data/options.csv', index=False)

## Dados de cotações Bitcoin

In [4]:
import yfinance as yf
import datetime as dt

ticker = 'BTC-USD'

start = dt.datetime(2019, 1, 1)
end = dt.datetime.today()

data = yf.download(ticker, start=start, end=end)
data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-01,3746.713379,3850.913818,3707.231201,3843.520020,3843.520020,4324200990
2019-01-02,3849.216309,3947.981201,3817.409424,3943.409424,3943.409424,5244856836
2019-01-03,3931.048584,3935.685059,3826.222900,3836.741211,3836.741211,4530215219
2019-01-04,3832.040039,3865.934570,3783.853760,3857.717529,3857.717529,4847965467
2019-01-05,3851.973877,3904.903076,3836.900146,3845.194580,3845.194580,5137609824

In [9]:
data.to_csv('./data/btc-usd.csv')

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('./data/btc-usd.csv')[["Date", "Adj Close"]]
data["Date"] = pd.to_datetime(data["Date"])

data["log_return"] = np.log(data["Adj Close"] / data["Adj Close"].shift(1))
data

           Date     Adj Close  log_return
0    2019-01-01   3843.520020         NaN
1    2019-01-02   3943.409424    0.025657
2    2019-01-03   3836.741211   -0.027422
3    2019-01-04   3857.717529    0.005452
4    2019-01-05   3845.194580   -0.003251
...         ...           ...         ...
2148 2024-11-18  90542.640625    0.007725
2149 2024-11-19  92343.789062    0.019698
2150 2024-11-20  94339.492188    0.021381
2151 2024-11-21  98504.726562    0.043205
2152 2024-11-22  98997.664062    0.004992

[2153 rows x 3 columns]