## Coleta e Preparação de Dados

In [21]:
import yfinance as yf
import pandas as pd
import numpy as np

ticker = 'IBIT'

data = yf.Ticker(ticker)

opt_date = data.options
opt_date

('2024-12-20',
 '2025-01-17',
 '2025-02-21',
 '2025-05-16',
 '2026-01-16',
 '2027-01-15')

In [27]:
expiration_date = pd.DataFrame()

for date in opt_date:
    opt_calls = data.option_chain(date).calls
    opt_calls["Expiration_date"] = date
    expiration_date = pd.concat([expiration_date, opt_calls])

In [29]:
expiration_date.reset_index(drop=True, inplace=True)

In [30]:
expiration_date.to_csv('./data/options.csv', index=False)

## Exploração e Manipulação de Dados

In [33]:
import pandas as pd
import numpy as np

opt_data = pd.read_csv('./data/options.csv')

opt_data[["Expiration_date", "strike", "lastPrice"]]

    Expiration_date  strike  lastPrice
0        2024-12-20    30.0      26.70
1        2024-12-20    36.0      19.40
2        2024-12-20    37.0      17.00
3        2024-12-20    38.0      18.20
4        2024-12-20    40.0      16.82
..              ...     ...        ...
247      2027-01-15    80.0      22.40
248      2027-01-15    85.0      20.60
249      2027-01-15    90.0      20.60
250      2027-01-15    95.0      20.45
251      2027-01-15   100.0      18.82

[252 rows x 3 columns]